{% extends "portfolio_app/base.html" %}
{% block title %}Customer Inquiries{% endblock %}
{% block content %}
<section class="mt-40">
    <h2 class="text-2xl font-semibold mb-4 text-white">Customer Inquiries</h2>
    <table class="min-w-full table-auto border-collapse border border-gray-300  bg-violet-200 mb-[100%]">
        <thead>
            <tr class="bg-violet-900">
                <th class="py-2 px-4 border-b text-white">Name</th>
                <th class="py-2 px-4 border-b text-white">Email</th>
                <th class="py-2 px-4 border-b text-white">Service</th>
                <th class="py-2 px-4 border-b text-white">Message</th>
                <th class="py-2 px-4 border-b text-white">Date Submitted</th>
            </tr>
        </thead>
        <tbody>
            {% for inquiry in inquiries %}
            <tr>
                <td class="py-2 px-4 border-b text-blue-500">{{ inquiry.name }}</td>
                <td class="py-2 px-4 border-b">{{ inquiry.email }}</td>
                <td class="py-2 px-4 border-b">{{ inquiry.service}}</td>
                <td class="py-2 px-4 border-b">{{ inquiry.message }}</td>
                <td class="py-2 px-4 border-b text-red-500">{{ inquiry.submitted_at }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5" class="py-2 px-4 border-b text-center bg-violet-100 text-white">No inquiries found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}
