{% extends "portfolio_app/base.html" %}
{% load static %}
{% block title %}About me{% endblock %}

{% block content %}


        <div class=" flex flex-col space-y-8 items-center justify-start text-center overflow-hidden p-[200px]">
            <img class="relative rounded-full h-32 w-32 mx-auto object-cover " src="{%static 'images/Ellipse 1.png'%}"
                alt="">
            <div class="z-20">
                <h2 class="text-sm uppercase text-gray-500 pb-2 tracking-[10px] md:tracking-[15px]">Web Developer</h2>
                <div id="typewriter" class="typewriter"></div>
            </div>
        </div>
        

                <div class="animated-bg-container ">
                </div>

                  <!-- Swiper -->
                  <div class="swiper pb-[10%]  ">
                    <swiper-container class="mySwiper" pagination="true" pagination-clickable="true" navigation="true" space-between="30"
                    centered-slides="true" autoplay-delay="2500" autoplay-disable-on-interaction="false">
                    <swiper-slide><img  src="{% static 'images/first_interface.jpg'%}" /></swiper-slide>
                    <swiper-slide><img  src="{% static 'images/Sinjar_Hero_restaurant.png'%}" /></swiper-slide>
                    <swiper-slide><img  src="{% static 'images/Namaa_Hala.png'%}" /></swiper-slide>
                    <swiper-slide><img  src="{% static 'images/Sinjar_Abukilo_restaurant.png'%}" /></swiper-slide>
                     <!-- <swiper-slide>Slide 5</swiper-slide>
                    <swiper-slide>Slide 6</swiper-slide>
                    <swiper-slide>Slide 7</swiper-slide>
                    <swiper-slide>Slide 8</swiper-slide>
                    <swiper-slide>Slide 9</swiper-slide> -->
                    <div class="autoplay-progress" slot="container-end">
                      <svg viewBox="0 0 48 48">
                        <circle cx="24" cy="24" r="20"></circle>
                      </svg>
                      <span></span>
                    </div>
                  </swiper-container>
                  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
                
                </div>
                
            <!-- <div class="flex items-center max-w-4xl mx-auto bg-violet-950 text-white p-6 rounded-lg shadow-lg mt-60">
                <div class="flex-1 pr-6">
                    <h2 class="text-2xl font-bold text-amber-200  ">Here is a little background:</h2>
                    <p class="mt-2 text-justify"> I'm Marwah Al-Ahmed, a recent graduate in Computer Science from King Faisal University. With a strong foundation in object-oriented programming and a year of experience in web development, I specialize as a full-stack developer and UI/UX designer. I am passionate about creating technical solutions that address real-world problems and aspire to excel in application development or technical project management.</p>
                </div>
                <div class="flex-shrink-0">
                    <div class="w-15 h-15 rounded-full flex items-center justify-center shadow-md ">
                        <img src="https://cdn3d.iconscout.com/3d/premium/thumb/web-design-layout-3d-icon-download-in-png-blend-fbx-gltf-file-formats--wireframe-development-digital-marketing-pack-seo-icons-8103813.png" alt="Your Icon" class="w-3/4 h-auto">
                    </div>
                </div> -->
       

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
<script>

    function typeWriter(element, sentences, speed, pause) {
        let sentenceIndex = 0;
        let charIndex = 0;

        function type() {
            if (sentenceIndex < sentences.length) {
                const currentSentence = sentences[sentenceIndex];

                if (charIndex < currentSentence.length) {
                    element.textContent += currentSentence.charAt(charIndex);
                    charIndex++;
                    setTimeout(type, speed);
                } else {
                    charIndex = 0;
                    sentenceIndex++;

                    if (sentenceIndex === sentences.length) {
                        sentenceIndex = 0; // Reset to loop
                    }

                    setTimeout(() => {
                        element.textContent = ''; // Clear the previous sentence
                        type();
                    }, pause);
                }
            }
        }

        type();
    }


    const typewriterElement = document.getElementById('typewriter');
    const sentences = [
        "Hi , My name is Marwah 🌟 ",
        "I like to walk around 🚶‍♀️ ",
        "I_Like_to_Coding 👩🏻‍💻 ",
        "And I'm addicted to coffee ☕️ "
    ];
    const typingSpeed = 100; // milliseconds per character
    const pauseBetweenSentences = 1000; // milliseconds before starting the next sentence

    typeWriter(typewriterElement, sentences, typingSpeed, pauseBetweenSentences);


    const progressCircle = document.querySelector(".autoplay-progress svg");
    const progressContent = document.querySelector(".autoplay-progress span");

    const swiperEl = document.querySelector("swiper-container");
    swiperEl.addEventListener("autoplaytimeleft", (e) => {
      const [swiper, time, progress] = e.detail;
      progressCircle.style.setProperty("--progress", 1 - progress);
      progressContent.textContent = `${Math.ceil(time / 1000)}s`;
    });


</script>



{% endblock %}