{% extends "portfolio_app/base.html" %}
{% load static %}
{% block title %}About me{% endblock %}

{% block content %}

    <style>
        .progress-bar {
            transition: width 0.5s ease;
        }

        .skill-item {
            transition: transform 0.3s, box-shadow 0.3s;
        }
        .skill-item:hover {
            transform: translateY(-5px);
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
        }
    </style>

<main class="bg-violet-100 text-gray-800 pt-[5%] ">
    <div class="container mx-auto p-8 ">
        <!-- Languages Section -->
        <section class="mb-12">
            <h2 class="text-2xl font-semibold mb-4 mt-10">Programming Languages</h2>
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">
                <!-- C++ -->
                <div class="skill-item bg-white p-4 rounded-lg shadow-md hover:shadow-xl transition-shadow duration-300 text-center">
                    <img src="https://logowik.com/content/uploads/images/t_911_c_logo.jpg" alt="C++" class="w-16 h-16 mx-auto mb-2" />
                    <span class="font-semibold">C++</span>
                    <div class="bg-blue-200 rounded-full h-4 mt-2">
                        <div class="progress-bar bg-blue-600 h-full rounded-full" style="width: 80%;"></div>
                    </div>
                </div>

                <!-- JavaScript -->
                <div class="skill-item bg-white p-4 rounded-lg shadow-md hover:shadow-xl transition-shadow duration-300 text-center">
                    <img src="https://cdn2.iconfinder.com/data/icons/designer-skills/128/code-programming-javascript-software-develop-command-language-512.png" alt="C++" class="w-16 h-16 mx-auto mb-2" />
                    <span class="font-semibold">JavaScript</span>
                    <div class="bg-yellow-200 rounded-full h-4">
                        <div class="progress-bar bg-yellow-500 h-full rounded-full" style="width: 90%;"></div>
                    </div>

                </div>
                <!-- Python -->
<div class="skill-item bg-white p-4 rounded-lg shadow-md hover:shadow-xl transition-shadow duration-300 text-center">
    <img src="https://www.svgrepo.com/show/376344/python.svg" alt="Python" class="w-16 h-16 mx-auto mb-2" />
    <span class="font-semibold">Python</span>
    <div class="bg-blue-200 rounded-full h-4 mt-2">
        <div class="progress-bar bg-blue-600 h-full rounded-full" style="width: 95%;"></div>
    </div>
</div>

<!-- Java -->
<div class="skill-item bg-white p-4 rounded-lg shadow-md hover:shadow-xl transition-shadow duration-300 text-center">
    <img src="https://cdn.iconscout.com/icon/free/png-256/free-java-logo-icon-download-in-svg-png-gif-file-formats--wordmark-programming-language-pack-logos-icons-1174953.png?f=webp&w=256" alt="Java" class="w-16 h-16 mx-auto mb-2" />
    <span class="font-semibold">Java</span>
    <div class="bg-red-200 rounded-full h-4 mt-2">
        <div class="progress-bar bg-red-600 h-full rounded-full" style="width: 85%;"></div>
    </div>
</div>

<!-- HTML -->
<div class="skill-item bg-white p-4 rounded-lg shadow-md hover:shadow-xl transition-shadow duration-300 text-center">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/2048px-HTML5_logo_and_wordmark.svg.png" alt="HTML" class="w-16 h-16 mx-auto mb-2" />
    <span class="font-semibold">HTML</span>
    <div class="bg-orange-200 rounded-full h-4 mt-2">
        <div class="progress-bar bg-orange-600 h-full rounded-full" style="width: 100%;"></div>
    </div>
</div>

<!-- CSS -->
<div class="skill-item bg-white p-4 rounded-lg shadow-md hover:shadow-xl transition-shadow duration-300 text-center">
    <img src="https://cdn-icons-png.flaticon.com/512/5968/5968242.png" alt="CSS" class="w-16 h-16 mx-auto mb-2" />
    <span class="font-semibold">CSS</span>
    <div class="bg-blue-200 rounded-full h-4 mt-2">
        <div class="progress-bar bg-blue-600 h-full rounded-full" style="width: 88%;"></div>
    </div>
</div>

<!-- PHP -->
<div class="skill-item bg-white p-4 rounded-lg shadow-md hover:shadow-xl transition-shadow duration-300 text-center">
    <img src="https://static-00.iconduck.com/assets.00/php-icon-2048x2048-jyo8hbbt.png" alt="PHP" class="w-16 h-16 mx-auto mb-2" />
    <span class="font-semibold">PHP</span>
    <div class="bg-purple-200 rounded-full h-4 mt-2">
        <div class="progress-bar bg-purple-600 h-full rounded-full" style="width: 75%;"></div>
    </div>
</div>

<!-- Tailwind CSS -->
<div class="skill-item bg-white p-4 rounded-lg shadow-md hover:shadow-xl transition-shadow duration-300 text-center">
    <img src="https://www.svgrepo.com/show/374118/tailwind.svg" alt="Tailwind CSS" class="w-16 h-16 mx-auto mb-2" />
    <span class="font-semibold">Tailwind CSS</span>
    <div class="bg-sky-200 rounded-full h-4 mt-2">
        <div class="progress-bar bg-sky-500 h-full rounded-full" style="width: 100%;"></div>
    </div>
</div>

                

        </section>

        <!-- Frameworks Section -->
        <section class="mb-12">
            <h2 class="text-2xl font-semibold mb-4">Frameworks</h2>
            <div class="space-y-4">
                <div class="flex items-center">
                    <img src="https://media.tekpon.com/2023/12/Vuejs-Logo.webp"  class="w-20 h-25  mr-2" />
                    <div class="w-3/4 bg-green-200 rounded-full h-4">
                        <div class="progress-bar bg-green-600 h-full rounded-full" style="width: 80%;"></div>
                    </div>
                </div>
                <div class="flex items-center">
                    <img src="https://www.rapidbrains.com/assets/img/services/rapidbrains-laravel.webp"  class="w-20 h-25  mr-2" />
                    <div class="w-3/4 bg-red-200 rounded-full h-4">
                        <div class="progress-bar bg-red-600 h-full rounded-full" style="width: 90%;"></div>
                    </div>
                </div>
                <div class="flex items-center">
                    <img src="https://1000marcas.net/wp-content/uploads/2021/06/Django-Logo.png"  class="w-20 h-25  mr-2" />
                    <div class="w-3/4 bg-green-200 rounded-full h-4">
                        <div class="progress-bar bg-green-800 h-full rounded-full" style="width: 99%;"></div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Services Offered Section -->
        <section class="mb-12">
            <h2 class="text-2xl font-semibold mb-4">Services I Provide</h2>
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
                <div class="bg-white p-6 rounded-lg shadow-md hover:shadow-xl transition-shadow duration-300">
                    <img src="{%static 'images/web-development.png'%}" alt="Tailwind CSS" class="w-16 h-16 mx-auto mb-2" />
                    <h3 class="font-semibold text-lg">Web Development</h3>
                    <p>Building responsive and modern web applications tailored to your needs.</p>
                </div>
                <div class="bg-white p-6 rounded-lg shadow-md hover:shadow-xl transition-shadow duration-300">
                    <img src="{%static 'images/search-engine-optimization.png'%}" alt="Tailwind CSS" class="w-16 h-16 mx-auto mb-2" />
                    <h3 class="font-semibold text-lg">SEO Optimization</h3>
                    <p>Enhancing your website's visibility and ranking on search engines.</p>
                </div>
                <div class="bg-white p-6 rounded-lg shadow-md hover:shadow-xl transition-shadow duration-300">
                    <img src="{%static 'images/optimizing.png'%}"  alt="Tailwind CSS" class="w-16 h-16 mx-auto mb-2" />
                    <h3 class="font-semibold text-lg">Web Maintenance</h3>
                    <p>Regular updates and maintenance to keep your site running smoothly.</p>
                </div>
                <div class="bg-white p-6 rounded-lg shadow-md hover:shadow-xl transition-shadow duration-300">
                    <img src="{%static 'images/designer.png'%}"  alt="Tailwind CSS" class="w-16 h-16 mx-auto mb-2" />
                    <h3 class="font-semibold text-lg">UI/UX Design</h3>
                    <p>Creating user-friendly interfaces and engaging user experiences.</p>
                </div>
                <div class="bg-white p-6 rounded-lg shadow-md hover:shadow-xl transition-shadow duration-300">
                    <img src="{%static 'images/devops .png'%}"  alt="Tailwind CSS" class="w-16 h-16 mx-auto mb-2" />
                    <h3 class="font-semibold text-lg">  </h3>
                    <p>Implementing continuous integration and delivery for agile development.</p>
                </div>
                <div class="bg-white p-6 rounded-lg shadow-md hover:shadow-xl transition-shadow duration-300">
                    <img src="{%static 'images/responsive.png'%}"  alt="Tailwind CSS" class="w-16 h-16 mx-auto mb-2" />
                    <h3 class="font-semibold text-lg">Responsive Design</h3>
                    <p>Ensuring your website looks great on all devices, from desktops to mobiles.</p>
                </div>
            </div>
        </section>
    </div>
</main>

{% endblock %}